{
  "serial": {
    "port": "/dev/ttyUSB0",
    "baudrate": 9600,
    "parity": "serial.PARITY_NONE",
    "stopbits": "serial.STOPBITS_TWO",
    "bytesize": "serial.EIGHTBITS"
  },
    "sending": {
    "max_retries": 2,
    "channel_free_timeout": 10,
    "confirmation_timeout": 10
  }
}